<div class="container">
  <div class="outer p-3 mb-3">
    <div class="title-reserve pb-2">
      <h4>予約内容確認</h4>
    </div>

    <div class="py-3">
      <h4>￥<%= @room.price %>／日</h4>
    </div>

    <%= form_with model: @reserve, url: room_reserves_path(@room.id), local: true do |f| %>
      <div class="reserve-field">
        <%= f.label :start_date, "開始日", class: "mb-1" %>
        <%= f.text_field :start_date, value: @start_date, readonly: true, class: "form-control mb-3" %>
        <%= f.label :end_date, "終了日", class: "mb-1" %>
        <%= f.text_field :end_date, value: @end_date, readonly: true, class: "form-control mb-3" %>
       <h6 class="pb-3 ">使用日数：<%= @total_days %>日</h6>
      </div>

      <div class="reserve-field py-3">
        <h6>人数：<%= params[:number_people] %>人</h6>
      </div>

      <div class="reserve-field py-3">
        <%= f.hidden_field :number_people, value:params[:number_people]  %>

        <%= f.label :total_price, "合計金額", class: "mb-1" %>
        <%= f.number_field :total_price, value: @total_price, readonly: true, class: "form-control mb-3" %>

        <p>上記内容でよろしければ「予約を確定」を押してください</p>
      </div>

      <div class="reserve-field d-grid mb-3">
        <%= f.submit "予約を確定", class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="d-grid">
      <%= link_to "ルーム詳細に戻る", room_path(@room.id), class: "btn btn-secondary" %>
    </div>

  </div>
</div>