<div class="container-fuild">

  <div class="row d-lg-none">
    <div class="nav-bar">
      <ul>
        <li class="active"><%= link_to "アカウント", user_account_path(@user.id) %></li>
        <li><%= link_to "プロフィール", user_profile_path(@user.id) %></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="nav-list col-lg-2 d-none d-lg-block">
      <ul>
        <li class="active"><%= link_to "アカウント", user_account_path(@user.id) %></li>
        <li><%= link_to "プロフィール", user_profile_path(@user.id) %></li>
      </ul>
    </div>

    <div class="room-register-wrapper col-lg-10">
      <div class="room-register-content">
        <h5>アカウント</h5>

        <div class="row">
          <label class="col-md-3">メールアドレス</label>
          <div class="col-md-9"><%= @user.email %></div>
        </div>

        <div class="row">
          <label class="col-md-3">パスワード</label>
          <div class="col-md-9">*********</div>
        </div>

        <div class="row">
          <%= link_to "編集", edit_user_registration_path, class: "btn btn-primary col-md-2" %>
        </div>
    </div>
  </div>

</div>
